AluguelVeiculosUTF-Cliente/AluguelVeiculosUTF-Cliente/Service References/WebServiceAluguelVeiculo/calc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://calc/" targetNamespace="http://calc/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="arrayList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:abstractList">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="abstractList" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:abstractCollection">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="abstractCollection" abstract="true">
    <xs:sequence />
  </xs:complexType>
</xs:schema>