AluguelVeiculosUTF-Cliente/AluguelVeiculosUTF-Cliente/Service References/WebServiceAluguelVeiculo/ServImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://calc/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServImplService" targetNamespace="http://calc/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://127.0.0.1:9876/calc?xsd=1" namespace="http://calc/" />
    </xsd:schema>
  </types>
  <message name="consultarVeiculos" />
  <message name="consultarVeiculosResponse">
    <part name="return" type="tns:arrayList" />
  </message>
  <message name="solicitacaoFormLocacao">
    <part name="arg0" type="xsd:string" />
  </message>
  <message name="solicitacaoFormLocacaoResponse">
    <part name="return" type="xsd:boolean" />
  </message>
  <message name="novoClienteConectado">
    <part name="arg0" type="xsd:string" />
  </message>
  <message name="novoClienteConectadoResponse" />
  <message name="devolverVeiculo">
    <part name="arg0" type="xsd:string" />
  </message>
  <message name="devolverVeiculoResponse">
    <part name="return" type="xsd:boolean" />
  </message>
  <message name="alugarVeic">
    <part name="arg0" type="xsd:string" />
    <part name="arg1" type="xsd:string" />
    <part name="arg2" type="xsd:string" />
    <part name="arg3" type="xsd:string" />
    <part name="arg4" type="xsd:string" />
    <part name="arg5" type="xsd:string" />
    <part name="arg6" type="xsd:string" />
    <part name="arg7" type="xsd:string" />
    <part name="arg8" type="xsd:int" />
    <part name="arg9" type="xsd:string" />
  </message>
  <message name="alugarVeicResponse">
    <part name="return" type="xsd:boolean" />
  </message>
  <message name="regInteresseVeic">
    <part name="arg0" type="xsd:string" />
    <part name="arg1" type="xsd:float" />
  </message>
  <message name="regInteresseVeicResponse">
    <part name="return" type="xsd:boolean" />
  </message>
  <portType name="InterfaceServ">
    <operation name="consultarVeiculos">
      <input wsam:Action="http://calc/InterfaceServ/consultarVeiculosRequest" message="tns:consultarVeiculos" />
      <output wsam:Action="http://calc/InterfaceServ/consultarVeiculosResponse" message="tns:consultarVeiculosResponse" />
    </operation>
    <operation name="solicitacaoFormLocacao">
      <input wsam:Action="http://calc/InterfaceServ/solicitacaoFormLocacaoRequest" message="tns:solicitacaoFormLocacao" />
      <output wsam:Action="http://calc/InterfaceServ/solicitacaoFormLocacaoResponse" message="tns:solicitacaoFormLocacaoResponse" />
    </operation>
    <operation name="novoClienteConectado">
      <input wsam:Action="http://calc/InterfaceServ/novoClienteConectadoRequest" message="tns:novoClienteConectado" />
      <output wsam:Action="http://calc/InterfaceServ/novoClienteConectadoResponse" message="tns:novoClienteConectadoResponse" />
    </operation>
    <operation name="devolverVeiculo">
      <input wsam:Action="http://calc/InterfaceServ/devolverVeiculoRequest" message="tns:devolverVeiculo" />
      <output wsam:Action="http://calc/InterfaceServ/devolverVeiculoResponse" message="tns:devolverVeiculoResponse" />
    </operation>
    <operation name="alugarVeic" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8 arg9">
      <input wsam:Action="http://calc/InterfaceServ/alugarVeicRequest" message="tns:alugarVeic" />
      <output wsam:Action="http://calc/InterfaceServ/alugarVeicResponse" message="tns:alugarVeicResponse" />
    </operation>
    <operation name="regInteresseVeic" parameterOrder="arg0 arg1">
      <input wsam:Action="http://calc/InterfaceServ/regInteresseVeicRequest" message="tns:regInteresseVeic" />
      <output wsam:Action="http://calc/InterfaceServ/regInteresseVeicResponse" message="tns:regInteresseVeicResponse" />
    </operation>
  </portType>
  <binding name="ServImplPortBinding" type="tns:InterfaceServ">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="consultarVeiculos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://calc/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://calc/" />
      </output>
    </operation>
    <operation name="solicitacaoFormLocacao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://calc/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://calc/" />
      </output>
    </operation>
    <operation name="novoClienteConectado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://calc/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://calc/" />
      </output>
    </operation>
    <operation name="devolverVeiculo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://calc/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://calc/" />
      </output>
    </operation>
    <operation name="alugarVeic">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://calc/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://calc/" />
      </output>
    </operation>
    <operation name="regInteresseVeic">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://calc/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://calc/" />
      </output>
    </operation>
  </binding>
  <service name="ServImplService">
    <port name="ServImplPort" binding="tns:ServImplPortBinding">
      <soap:address location="http://127.0.0.1:9876/calc" />
    </port>
  </service>
</definitions>